@model SalesWebMVC.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dl class="dl-horizontal">
        <dt>
            ID:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Nome:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            E-mail:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Data de Aniversario:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            Salarío Base:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt>
            Departamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            Id do Departamento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class=" btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>

</div>